<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="./"> Learning Angular </a>
  <button
    class="navbar-toggler collapsed"
    type="button"
    data-toggle="collapse"
    data-target="#navbarResponsive"
  >
    <span class="navbar-toggler-icon"></span>
    <div class="close-icon py-1">✖</div>
  </button>

  <div
    class="collapse navbar-collapse flex-grow-1 text-right"
    id="navbarResponsive"
  >
    <ul
      class="navbar-nav mr-auto"
      data-toggle="collapse"
      data-target=".navbar-collapse.show"
    >
      <li class="nav-item active">
        <nav>
          <a class="nav-link" href="#" routerLink="/" routerLinkActive="active"
            >Home</a
          >
        </nav>
      </li>

      <li class="nav-item">
        <nav>
          <a class="nav-link" href="#">About</a>
        </nav>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown"
          >Assets</a
        >
        <div class="dropdown-menu flex-grow-1 text-right">
          <a class="dropdown-item" href="#">Images</a>
          <a class="dropdown-item" href="#">Music</a>
          <a class="dropdown-item" href="#">Radio</a>
          <a class="dropdown-item" href="#">Videos</a>
          <a class="dropdown-item" href="#">Websites</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Mobile Games</a>
        </div>
      </li>

      <li class="nav-item">
        <nav>
          <a class="nav-link" href="#">Services</a>
        </nav>
      </li>

      <li class="nav-item">
        <nav>
          <a
            class="nav-link"
            href="#"
            routerLink="/weather"
            routerLinkActive="active"
            >Weather</a
          >
        </nav>
      </li>

      <li class="nav-item">
        <nav>
          <a
            class="nav-link"
            href="#"
            routerLink="/login"
            routerLinkActive="active"
            >Simple Form</a
          >
        </nav>
      </li>

      <li class="nav-item">
        <nav>
          <app-google-login-button></app-google-login-button>
        </nav>
      </li>

      <li class="nav-item">
        <nav>
          <app-theme-slider></app-theme-slider>
        </nav>
      </li>
    </ul>
  </div>
</nav>
